<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar nova Artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
           <% articles.forEach(article=>{ %>
                <tr>
                    <th><%= article.id %> </th>
                    <th><%= article.title %> </th>
                    <th><%= article.slug %> </th>
                    <th><%= article.category.title %> </th> <!-- acessando o artigo e pelo artigo acessando a categoria e pegando o titulo dela, pelo include do model Category -->
                    <th style="display: flex;">

                        <a class="btn btn-warning" href="/admin/articles/edit/<%= article.id %> " style="margin: 0px 11px 0px 28%;">Editar</a> <!-- Necessario ajustar o style -->
                        <form method="POST" action="/articles/delete" onsubmit="confirmDelete(event,this)" >
                            <input type="hidden" name="id" value="<%= article.id %> ">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
          <% }) %> 
        </tbody>
    </table>
</div>


<%- include ('../../partials/footer.ejs') %>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
       const decision = confirm("Você deseja deletar este Artigo?");
        if(decision){
            form.submit()
        }
    }
</script>